// stylelint-disable-next-line selector-max-type
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: d-color("background");
    color: $d-color-body;
    font-family: $d-font-family;
}

// stylelint-disable selector-max-type, selector-no-qualifying-type
main,
main.d-container {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

footer {
    margin-top: auto;
}

article {
    max-width: 80ch;

    > img {
        margin-right: auto;
        margin-left: auto;
    }
}
// stylelint-enable

.d-container {
    display: flex;
    flex-direction: column;
    max-width: 120ch;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

// stylelint-disable-next-line selector-no-qualifying-type, selector-max-type
ul.d-column-container {
    padding-left: 0;
}

.d-section {
    width: 100%;

    &--padded {
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    // stylelint-disable-next-line selector-max-universal
    *:last-child {
        margin-bottom: 0;
    }
}

// stylelint-disable-next-line selector-max-type
hr {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: 1px solid d-color("secondary");
}
