$d-color-primary: #171392 !default;
$d-color-secondary: #db0a76 !default;
$d-color-background: #f9f9f9;

$d-brand-colors: (
    "primary": $d-color-primary,
    "secondary": $d-color-secondary,
) !default;

$d-color-body: scale-color(
    $d-color-primary,
    $lightness: -30%,
    $saturation: -50%
) !default;

$d-color-gray: mix(#767676, $d-color-body, 70%) !default;

$d-colors: map-merge(
    $d-brand-colors,
    (
        "text": $d-color-body,
        "background": $d-color-background,
        "light": #fff,
        "dark": rgba(black, 0.87),
        "gray": $d-color-gray,
    )
);

@function d-color($key) {
    @return map-get($d-colors, $key);
}

// Add/remove to selectively generate `ink` (text color) classes
$d-ink-colors: "primary", "secondary", "text", "gray", "light", "dark" !default;

// Add/remove to selectively generate `background` (text color) classes
$d-background-colors: "primary", "secondary", "background", "gray", "light" !default;

$d-button-variants: "primary", "secondary", "light", "gray" !default;
$d-link-color: d-color("primary") !default;
$d-border-radius: 8px !default;

$d-font-family: "Baloo 2", sans-serif;
$d-strong-font-weight: 500 !default;
$d-h1-font-size: 4.2rem !default;
$d-h2-font-size: 3.15rem !default;
$d-h3-font-size: 2rem !default;
$d-h4-font-size: 1.35rem !default;
$d-text-font-size: 1.15rem !default;
$d-lead-font-size: 1.35rem !default;

$d-spacing: (
    sm: 1rem,
    md: 3rem,
    lg: 6rem,
    xl: 10rem,
    auto: "auto",
) !default;
