$d-typography-variants: h1, h2, h3, h4;

@each $type in $d-typography-variants {
    #{$type},
    .d-#{$type} {
        font-weight: $d-strong-font-weight;
        line-height: 1.15;
        margin-bottom: 0.65em;
    }
}

// As of v0.3.0, `clamp` not well enough supported on mobile browsers for use
// Due to build-in min/max Sass functions, requires `unquote()` to correctly
// render as CSS min/max
h1,
.d-h1 {
    font-size: $d-h1-font-size;
    font-size: unquote("min(max(3rem, 5vw), #{$d-h1-font-size})");
}

h2,
.d-h2 {
    font-size: $d-h2-font-size;
    font-size: unquote("min(max(2.5rem, 5vw), #{$d-h2-font-size})");
}

h3,
.d-h3 {
    font-size: $d-h3-font-size;
}

h4,
.d-h4 {
    font-size: $d-h4-font-size;
    color: d-color("gray");
}

p,
li {
    font-size: $d-text-font-size;
}

p {
    margin: 0 0 1rem;
}

article {
    > ul,
    > ol {
        > li + li {
            margin-top: 1rem;
        }
    }

    * {
        + h2 {
            margin-top: 4rem;
        }

        + h3 {
            margin-top: 2rem;
        }
    }
}

strong {
    font-weight: $d-strong-font-weight;
}

a:not(.d-button) {
    color: $d-link-color;
}

pre,
code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-weight: bold;
}

code {
    display: inline-flex;
    padding: 0.15em;
    background-color: d-color("light");
    font-size: 0.75em;
    color: d-color("gray");
    border: 1px solid scale-color(d-color("gray"), $lightness: 50%);
    border-radius: 2px;
    line-height: 1.1;
}

pre {
    margin: 0;
    display: inline-block;

    code {
        display: block;
        padding: 0 1rem;
        white-space: pre-wrap;
        font-size: 0.85rem;
        line-height: 1.4;
        overflow-x: auto;
    }
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1.5rem;
    border-left: 2px solid d-color("secondary");
    color: d-color("gray");

    &,
    p {
        font-size: $d-h4-font-size;
    }

    + * {
        margin-top: 3rem;
    }
}

.d-lead {
    font-size: $d-lead-font-size;
    letter-spacing: 0.01em;
    margin-bottom: 1em;
    line-height: 1.3;
}

.d-list-unstyled {
    list-style: none;
    padding: 0;
}
