.d-content-maxlength {
    max-width: 80ch;
}

$d-alignments: left, center, right !default;

@each $alignment in $d-alignments {
    .d-text-align--#{$alignment} {
        text-align: #{$alignment};

        @if ($alignment == "center") {
            > a {
                align-self: center !important;
            }
        }
    }
}

@each $key in $d-background-colors {
    .d-background--#{$key} {
        background-color: d-color($key);
    }
}

@each $key in $d-ink-colors {
    .d-ink--#{$key},
    a.d-ink--#{$key} {
        color: d-color(#{$key});
    }

    .d-ink--#{$key} > a:not(.d-button) {
        color: inherit;
    }
}

.d-mx-auto {
    margin-right: auto;
    margin-left: auto;
}

@each $key, $unit in $d-spacing {
    .d-mt-#{$key} {
        margin-top: $unit;
    }
}

.d-mb-none {
    margin: 0;
}
